.countries-collection {
  padding-bottom: 10rem;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26.4rem, 1fr));
  gap: 7rem;
  width: 100%;
}

.country {
  border: 1px solid black;
  border-radius: 5px;
  height: 33.6rem;
}

.country-img {
  min-height: 16rem;
  background: pink;
}

.country-details {
  padding: 2.4rem;
}

.country-name {
  margin-bottom: 1.6rem;
}

.country-detail {
  font-weight: bold;
  span {
    font-weight: 300;
  }
}

button {
  margin: 3rem auto;
  display: block;
}
