.countries-collection {
  padding-bottom: 10rem;
}

.countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(26.4rem, 1fr));
  gap: 7rem;
  width: 100%;
}

button {
  margin: 3rem auto;
  display: block;
}
