.filters-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 2rem 0;
  background: transparent;
}

.input-wrapper {
  padding: 1rem 3.2rem;
  background-color: white;
  width: 60%;
  max-width: 48rem;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  color: #848484;
  height: 5.6rem;
  display: flex;
  flex-flow: row nowrap;
  border: 2px solid transparent;
  align-items: center;

  &:focus-within {
    border: 2px solid red;
  }
}

.search-icon {
  margin-right: 2.4rem;
}

.search-input {
  border: none;
}
