.countrypage {
  padding-top: 7rem;
}

.country {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

.img-container {
  .img {
    display: block;
    width: 100%;
  }
}

.details-container {
  padding: 4rem 2rem;
}
